<div class="small-12 large-7 columns">
  <div class='card-image-container'>
    <%= image_tag @card.url, class: "card-image-tag"%>
  </div>
  <div class='card-name-container'>
    <%= @card.name %>
  </div>
</div>
