<div class="row">
  <div class="small-12 columns">
    <h1>Cards</h1>
  </div>
</div>
<div class="row">
  <% @cards.each do |card| %>
    <div class="small-12 medium-6 large-3 columns">
      <%= link_to(card) do %>
        <div class='card-image-container thumb'>
          <%= image_tag card.url %>
        </div>
        <div class='card-name-container thumb'>
          <%= card.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
