<div class="pdf-container">
  <div class='pdf-card-image-container' style="background-image: url(<%= @card.url %>)">
  </div>
  <div class='pdf-card-name-container'>
    <%= @card.name %>
  </div>
</div>

<div style='page-break-after:always;'></div>

<div class="pdf-container">
  <div class='pdf-card-image-container not-separate-image' style="background-image: url(<%= @card.url %>)">
  </div>
  <div class='pdf-card-name-container not-separate-name'>
    <%= @card.name %>
  </div>
</div>
