 h1 {
 	size: 34pt;
 }

 h2 {
 	size: 26pt;
 }

 h3 {
 	size: 26pt;
 }

.card-image-container {
    height: 14cm;
    width: 14cm;
    overflow: hidden;
    border-radius: 15px;
}

.card-image-tag {
	width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.card-name-container {
	width: 14cm;
	font-family: Century Gothic, Helvetica, sans-serif;
	font-size: 36pt;
	border: 1px solid black;
	margin: 0.5cm 0;
	border-radius: 15px;
	text-align: center;
}

.thumb {
	max-width: 100%;
	max-height: 300px;
	font-size: 2em;
}
