.container {
    padding: 30px;
}

.card-image-container {
    height: 14cm;
    width: 14cm;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    background-size: cover;
    background-position: center top;
}

.card-name-container {
	width: 14cm;
	font-family: Century Gothic, Helvetica, sans-serif;
	font-size: 36pt;
    margin: 1cm auto;
	border-radius: 15px;
    border: 1px solid black;
	text-align: center;
}

.not-separate-name {
    margin: 0 auto;
    border-top-style: none;
    border-radius: 0 0 15px 15px;
}

.not-separate-image {
    border-radius: 15px 15px 0 0;
}
