<div class="row">
  <div class="small-12 columns">
    <h1>Card sets</h1>
  </div>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <div class="small-12 medium-3 columns">
      <%= link_to category.name, category_path(category) %>
    </div>
  <% end %>
</div>
