<div class="row">
  <div class="small-12 columns">
    <h6><%= link_to "<< Back to all sets", categories_path %></h6>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h1><%= @category.name %></h1>
  </div>
</div>
<%= render 'cards/cards' %>
